<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let cabecera of cabeceras">{{cabecera}}</th>
      <th *ngIf="isMantenimiento==true">Operaciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{usuario.idUsuario}}</td>
      <td>{{usuario.nombreUsiario}}</td>
      <td>{{usuario.nombrePersona}}</td>
      <td>{{usuario.nombreTipoUsuario}}</td>
      <td *ngIf="isMantenimiento==true">
        <i [routerLink]="['/usuario-form-mantenimiento',usuario.idUsuario]" class="glyphicon glyphicon-edit btn btn-primary"></i>
        <i class="glyphicon glyphicon-trash btn btn-danger" (click)="eliminarUsuario(usuario.idUsuario)"></i>
      </td>
    </tr>
  </tbody>
</table>
