USE [master]
GO
/****** Object:  Database [BDRestaurante]    Script Date: 24/10/2019 15:31:20 ******/
CREATE DATABASE [BDRestaurante]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDRESTAURANT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BDRESTAURANT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDRESTAURANT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BDRESTAURANT_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDRestaurante].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDRestaurante]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 24/10/2019 15:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[IIDCATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[DESCRIPCION] [varchar](150) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IIDCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DetalleVentaReserva]    Script Date: 24/10/2019 15:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentaReserva](
	[IIDDETALLEVENTA] [int] IDENTITY(1,1) NOT NULL,
	[IIDRESERVA] [int] NULL,
	[IIDPRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[SUBTOTAL] [decimal](18, 2) NULL,
 CONSTRAINT [PK_DetalleVentaReserva] PRIMARY KEY CLUSTERED 
(
	[IIDDETALLEVENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Marca]    Script Date: 24/10/2019 15:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Marca](
	[IIDMARCA] [int] NOT NULL,
	[NOMBRE] [varchar](150) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[IIDMARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pagina]    Script Date: 24/10/2019 15:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pagina](
	[IIDPAGINA] [int] IDENTITY(1,1) NOT NULL,
	[MENSAJE] [varchar](100) NULL,
	[ACCION] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
	[BVISIBLE] [int] NULL,
 CONSTRAINT [PK_Paginas] PRIMARY KEY CLUSTERED 
(
	[IIDPAGINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaginaTipoUsuario]    Script Date: 24/10/2019 15:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaginaTipoUsuario](
	[IIDPAGINATIPOUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[IIDPAGINA] [int] NULL,
	[IIDTIPOUSUARIO] [int] NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_PaginaTipoUsuario] PRIMARY KEY CLUSTERED 
(
	[IIDPAGINATIPOUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Persona]    Script Date: 24/10/2019 15:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Persona](
	[IIDPERSONA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[APPATERNO] [varchar](150) NULL,
	[APMATERNO] [varchar](150) NULL,
	[TELEFONO] [varchar](50) NULL,
	[CORREO] [varchar](100) NULL,
	[FECHANACIMIENTO] [date] NULL,
	[BHABILITADO] [int] NULL,
	[BTIENEUSUARIO] [int] NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[IIDPERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 24/10/2019 15:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[IIDPRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[IIDCATEGORIA] [int] NULL,
	[BHABILITADO] [int] NULL,
	[STOCK] [int] NULL,
	[IIDMARCA] [int] NULL,
	[foto] [varchar](max) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IIDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 24/10/2019 15:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reserva](
	[IIDRESERVA] [int] IDENTITY(1,1) NOT NULL,
	[IIDPERSONASOLICITA] [int] NULL,
	[CANTIDADPERSONAS] [int] NULL,
	[IIDSEDE] [int] NULL,
	[FECHARESERVA] [datetime] NULL,
	[TELEFONOCONTACTO] [varchar](10) NULL,
	[OBSERVACIONES] [varchar](200) NULL,
	[BHABILITADO] [int] NULL,
	[total] [decimal](18, 2) NULL,
	[IIDPERSONAREGISTRA] [int] NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[IIDRESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sede]    Script Date: 24/10/2019 15:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sede](
	[IIDSEDE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Sede] PRIMARY KEY CLUSTERED 
(
	[IIDSEDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 24/10/2019 15:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[IIDTIPOUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[IIDTIPOUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 24/10/2019 15:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IIDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREUSUARIO] [varchar](100) NULL,
	[CONTRA] [varchar](100) NULL,
	[IIDPERSONA] [int] NULL,
	[BHABILITADO] [int] NULL,
	[IIDTIPOUSUARIO] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IIDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IIDCATEGORIA], [NOMBRE], [DESCRIPCION], [BHABILITADO]) VALUES (1, N'Galletas', N'Ricas en sabor', 1)
INSERT [dbo].[Categoria] ([IIDCATEGORIA], [NOMBRE], [DESCRIPCION], [BHABILITADO]) VALUES (2, N'Platos', N'Comida para dar en almuerzos', 1)
INSERT [dbo].[Categoria] ([IIDCATEGORIA], [NOMBRE], [DESCRIPCION], [BHABILITADO]) VALUES (3, N'Bebidas', N'Liquido para calmar la sed', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
INSERT [dbo].[Marca] ([IIDMARCA], [NOMBRE], [BHABILITADO]) VALUES (1, N'SAN JORGE', 1)
INSERT [dbo].[Marca] ([IIDMARCA], [NOMBRE], [BHABILITADO]) VALUES (2, N'SANISSIMO', 1)
INSERT [dbo].[Marca] ([IIDMARCA], [NOMBRE], [BHABILITADO]) VALUES (3, N'VAINILLA FIELD', 1)
SET IDENTITY_INSERT [dbo].[Pagina] ON 

INSERT [dbo].[Pagina] ([IIDPAGINA], [MENSAJE], [ACCION], [BHABILITADO], [BVISIBLE]) VALUES (6, N'Filtrar Producto por Categoria', N'/filtradoProductoCategoria', 1, 1)
INSERT [dbo].[Pagina] ([IIDPAGINA], [MENSAJE], [ACCION], [BHABILITADO], [BVISIBLE]) VALUES (7, N'Filtrar Producto por Nombre', N'/filtradoProductoNombre', 1, 1)
INSERT [dbo].[Pagina] ([IIDPAGINA], [MENSAJE], [ACCION], [BHABILITADO], [BVISIBLE]) VALUES (8, N'Filtrado Persona por Nombre Completo', N'/filtradoPersonaNombreCompleto', 1, 1)
SET IDENTITY_INSERT [dbo].[Pagina] OFF
SET IDENTITY_INSERT [dbo].[PaginaTipoUsuario] ON 

INSERT [dbo].[PaginaTipoUsuario] ([IIDPAGINATIPOUSUARIO], [IIDPAGINA], [IIDTIPOUSUARIO], [BHABILITADO]) VALUES (1, 6, 1, 1)
INSERT [dbo].[PaginaTipoUsuario] ([IIDPAGINATIPOUSUARIO], [IIDPAGINA], [IIDTIPOUSUARIO], [BHABILITADO]) VALUES (2, 7, 1, 1)
INSERT [dbo].[PaginaTipoUsuario] ([IIDPAGINATIPOUSUARIO], [IIDPAGINA], [IIDTIPOUSUARIO], [BHABILITADO]) VALUES (3, 8, 1, 1)
SET IDENTITY_INSERT [dbo].[PaginaTipoUsuario] OFF
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([IIDPERSONA], [NOMBRE], [APPATERNO], [APMATERNO], [TELEFONO], [CORREO], [FECHANACIMIENTO], [BHABILITADO], [BTIENEUSUARIO]) VALUES (1, N'Sebastian', N'Rodriguez', N'Yepez', N'147852365', N'srodriguez@hotmail.com', CAST(N'2019-12-12' AS Date), 1, 1)
INSERT [dbo].[Persona] ([IIDPERSONA], [NOMBRE], [APPATERNO], [APMATERNO], [TELEFONO], [CORREO], [FECHANACIMIENTO], [BHABILITADO], [BTIENEUSUARIO]) VALUES (2, N'Jose', N'Uribe', N'Ombone', N'369852147', N'juribe@hotmail.com', CAST(N'1995-05-02' AS Date), 1, 1)
INSERT [dbo].[Persona] ([IIDPERSONA], [NOMBRE], [APPATERNO], [APMATERNO], [TELEFONO], [CORREO], [FECHANACIMIENTO], [BHABILITADO], [BTIENEUSUARIO]) VALUES (3, N'Edwin', N'De la Cruz', N'Guevara', N'258963258', N'edelacruz@hotmail.com', CAST(N'1990-04-01' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[Persona] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IIDPRODUCTO], [NOMBRE], [PRECIO], [IIDCATEGORIA], [BHABILITADO], [STOCK], [IIDMARCA], [foto]) VALUES (1, N'Galletas de Soda SAN JORGE Paquete 7un', CAST(2.59 AS Decimal(18, 2)), 1, 1, 400, 1, NULL)
INSERT [dbo].[Producto] ([IIDPRODUCTO], [NOMBRE], [PRECIO], [IIDCATEGORIA], [BHABILITADO], [STOCK], [IIDMARCA], [foto]) VALUES (2, N'Galletas SANISSIMO Salmas Caja 144g', CAST(7.79 AS Decimal(18, 2)), 1, 1, 190, 2, NULL)
INSERT [dbo].[Producto] ([IIDPRODUCTO], [NOMBRE], [PRECIO], [IIDCATEGORIA], [BHABILITADO], [STOCK], [IIDMARCA], [foto]) VALUES (3, N'Galleta Vainilla FIELD Paquete 6un', CAST(2.90 AS Decimal(18, 2)), 1, 1, 856, 3, NULL)
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([IIDRESERVA], [IIDPERSONASOLICITA], [CANTIDADPERSONAS], [IIDSEDE], [FECHARESERVA], [TELEFONOCONTACTO], [OBSERVACIONES], [BHABILITADO], [total], [IIDPERSONAREGISTRA]) VALUES (1, 3, 10, 1, CAST(N'2019-10-16 00:00:00.000' AS DateTime), N'12345678', N'', 1, CAST(0.00 AS Decimal(18, 2)), 5)
SET IDENTITY_INSERT [dbo].[Reserva] OFF
SET IDENTITY_INSERT [dbo].[Sede] ON 

INSERT [dbo].[Sede] ([IIDSEDE], [NOMBRE], [DESCRIPCION], [BHABILITADO]) VALUES (1, N'Sede Central', N'Sede principal del restaurant', 1)
INSERT [dbo].[Sede] ([IIDSEDE], [NOMBRE], [DESCRIPCION], [BHABILITADO]) VALUES (2, N'Sede San Juan', N'Sede mas pequeña de todas', 1)
INSERT [dbo].[Sede] ([IIDSEDE], [NOMBRE], [DESCRIPCION], [BHABILITADO]) VALUES (3, N'Sede Rimac', N'Sede con mayor capidad de personas', 1)
SET IDENTITY_INSERT [dbo].[Sede] OFF
SET IDENTITY_INSERT [dbo].[TipoUsuario] ON 

INSERT [dbo].[TipoUsuario] ([IIDTIPOUSUARIO], [NOMBRE], [DESCRIPCION], [BHABILITADO]) VALUES (1, N'Administrador', N'Controla todo el sistema', 1)
INSERT [dbo].[TipoUsuario] ([IIDTIPOUSUARIO], [NOMBRE], [DESCRIPCION], [BHABILITADO]) VALUES (2, N'Cliente', N'Realiza una reserva', 1)
INSERT [dbo].[TipoUsuario] ([IIDTIPOUSUARIO], [NOMBRE], [DESCRIPCION], [BHABILITADO]) VALUES (3, N'Vendedor', N'Realiza la venta de comida', 1)
SET IDENTITY_INSERT [dbo].[TipoUsuario] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IIDUSUARIO], [NOMBREUSUARIO], [CONTRA], [IIDPERSONA], [BHABILITADO], [IIDTIPOUSUARIO]) VALUES (1, N'SRODRIGUEZ', N'1234', 1, 1, 1)
INSERT [dbo].[Usuario] ([IIDUSUARIO], [NOMBREUSUARIO], [CONTRA], [IIDPERSONA], [BHABILITADO], [IIDTIPOUSUARIO]) VALUES (2, N'JURIBE', N'123', 2, 1, 2)
INSERT [dbo].[Usuario] ([IIDUSUARIO], [NOMBREUSUARIO], [CONTRA], [IIDPERSONA], [BHABILITADO], [IIDTIPOUSUARIO]) VALUES (3, N'EDELACRUZ', N'1234', 2, 1, 3)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[DetalleVentaReserva]  WITH CHECK ADD FOREIGN KEY([IIDRESERVA])
REFERENCES [dbo].[Reserva] ([IIDRESERVA])
GO
ALTER TABLE [dbo].[DetalleVentaReserva]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentaReserva_Producto] FOREIGN KEY([IIDPRODUCTO])
REFERENCES [dbo].[Producto] ([IIDPRODUCTO])
GO
ALTER TABLE [dbo].[DetalleVentaReserva] CHECK CONSTRAINT [FK_DetalleVentaReserva_Producto]
GO
ALTER TABLE [dbo].[PaginaTipoUsuario]  WITH CHECK ADD FOREIGN KEY([IIDPAGINA])
REFERENCES [dbo].[Pagina] ([IIDPAGINA])
GO
ALTER TABLE [dbo].[PaginaTipoUsuario]  WITH CHECK ADD FOREIGN KEY([IIDTIPOUSUARIO])
REFERENCES [dbo].[TipoUsuario] ([IIDTIPOUSUARIO])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([IIDMARCA])
REFERENCES [dbo].[Marca] ([IIDMARCA])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([IIDCATEGORIA])
REFERENCES [dbo].[Categoria] ([IIDCATEGORIA])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([IIDPERSONAREGISTRA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Persona] FOREIGN KEY([IIDPERSONASOLICITA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Persona]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Sede] FOREIGN KEY([IIDSEDE])
REFERENCES [dbo].[Sede] ([IIDSEDE])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Sede]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IIDTIPOUSUARIO])
REFERENCES [dbo].[TipoUsuario] ([IIDTIPOUSUARIO])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Persona] FOREIGN KEY([IIDPERSONA])
REFERENCES [dbo].[Persona] ([IIDPERSONA])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Persona]
GO
USE [master]
GO
